/* All styles for your Card Components live here */

.card-box {
    border: 1px solid purple;
    height: 360px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.banner-box {
    width: 505px;
    height: 250px;
    margin-right: 10px;
}

.banner-img {
    width: 100%;
    height: 250px;
    justify-content: flex-end;
}