/* All styles for your header Components live here */


header {
    display : flex;
    flex-flow : row nowrap;
    
}

header .header-img {
    border: 1px solid green;
}

header .img-box img {
    width: 56px;
    padding-top: 5px;
}
    
header .header-content .header-box .header-title {

    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: left;
    margin: 0 0;
    font-size: 15pt;
    

}

header .header-title h4 {
    margin: 0;
    font-size: 10.5pt;
}

header .title-objects {
    padding: 0 5px;
}

header .header-title p {
    color: darkgrey;
    font-size: 9pt;
}

header .header-title .time-stamp {
    color: darkgrey;
    font-size: 9pt;
}

header .header-box .content-header {
    margin: 0 0;
    font-size: 10.5pt;
    background-color: lightgrey;
    margin-left: 5px;
    width: 505px;

}